{% extends 'base.html' %}
{% block content %}
    <ur>
        <li>Product ID: {{ product.id }}</li>
        <li>Product Name: {{ product.g_name }}</li>
        <li>Product Price: {{ product.g_price }}</li>
    </ur>

    <p>
    <form action="{% url 'product_buy' %}" method="post">
        {% csrf_token %}
        <p>Buy one for yourself</p>
        <input type='hidden' name='id' value="{{ product.id }}">
        <input type="number" name="quantity">
        <input type="submit" value="Purchase">
    </form>
    </p>
{% endblock %}
